<div class="row center">
  <div id="the-secret-garden" class="mt-5 col-sm-6">
    <a href="#the-secret-garden">
      <img
        alt="Image"
        class="img-raised"
        src="assets/img/TheSecretGarden.png"
        style="width: 450px"
      />
    </a>
    <p class="mt-4 project-description">
      The Secret Garden by Melvin McGee
    </p>
    <a
      class="btn btn-simple btn-danger btn-round m-3"
      href="#the-secret-garden"
    >
    <!-- [routerLink]="['/portfolio', project.slug]" routerLinkActive="router-link-active" -->
      Learn More!
    </a>
  </div>
  <div id="hunter-dao" class="mt-5 col-sm-6">
    <a href="#hunter-dao">
      <img
        alt="Image"
        class="img-raised"
        src="assets/img/Hunter.png"
        style="width: 450px"
      />
    </a>
    <p class="mt-4 project-description">
      Hunter DAO
    </p>
    <a
      class="btn btn-simple btn-danger btn-round m-3"
      href="hunter-dao"
    >
    <!-- [routerLink]="['/portfolio', project.slug]" routerLinkActive="router-link-active" -->
      Learn More!
    </a>
  </div>
  <div id="just-governance" class="mt-5 col-sm-6">
    <a href="#just-governance">
      <img
        alt="Image"
        class="img-raised"
        src="assets/img/JustGovernance.png"
        style="width: 450px"
      />
    </a>
    <p class="mt-4 project-description">
      The Just Governance Project
    </p>
    <a
      class="btn btn-simple btn-danger btn-round m-3"
      href="#just-governance"
    >
    <!-- [routerLink]="['/portfolio', project.slug]" routerLinkActive="router-link-active" -->
      Read More!
    </a>
  </div>
</div>
