<div class="row center">
  <div class="col-sm-6">
    <a href="https://github.com/Alpine-lines/VentusCampaignTool">
      <img
        alt="Image"
        class="img-raised"
        src="assets/img/landing-page.png"
      />
    </a>
    <p class="project-description">
      Ventus Campaign - Create & Track Custom Triggers Automatically Update Marketing Campaigns.
    </p>
    <a
      class="btn btn-simple btn-danger btn-round m-1"
      href="https://github.com/Alpine-lines/VentusCampaignTool"
    >
      View Source Now!
    </a>
    <!-- <a
      class="btn btn-simple btn-danger btn-round m-3"
      [routerLink]="['/portfolio', project.slug]" routerLinkActive="router-link-active"
    >
      Read More!
    </a> -->
  </div>
  <!-- <div class="col-sm-6">
    <a [routerLink]="['/portfolio', 'dreit-dao']">
      <img
        alt="Image"
        class="img-raised"
        src="assets/img/profile-page.png"
      />
    </a>
    <p class="project-description">
      dREIT DAO - A Project for Submissions to the Moralis Hackathon, due mid-June. (Work in Progress)
    </p>
    <a
      class="btn btn-simple btn-danger btn-round m-1"
      [routerLink]="['/portfolio', 'dreit-dao']"
    >
      View Now!
    </a>
  </div> -->
  <div class="col-sm-6">
    <a href="https://github.com/Alpine-lines/express-oauth-passport-auth0">
      <img
        alt="Image"
        class="img-raised"
        src="assets/img/landing-page.png"
      />
    </a>
    <p class="project-description m-3">
      Auth0 Identity-as-a-Service Quickstart w/ Express REST API Example
    </p>
    <a
      class="btn btn-simple btn-danger btn-round m-3"
      href="https://github.com/Alpine-lines/express-oauth-passport-auth0"
    >
      View Source Now!
    </a>
    <!-- <a
      class="btn btn-simple btn-danger btn-round m-3"
      [routerLink]="['/portfolio', project.slug]" routerLinkActive="router-link-active"
    >
      Read More!
    </a> -->
  </div>
  <div class="col-sm-6">
    <a href="https://github.com/Alpine-lines/django-react-apollo-graphql">
      <img
        alt="Image"
        class="img-raised"
        src="assets/img/profile-page.png"
      />
    </a>
    <p class="project-description m-3">
      Django GraphQL API w/ a React and Apollo Frontend
    </p>
    <a
      class="btn btn-simple btn-danger btn-round m-3"
      href="https://github.com/Alpine-lines/django-react-apollo-graphql"
    >
      View Source Now!
    </a>
    <!-- <a
      class="btn btn-simple btn-danger btn-round m-3"
      [routerLink]="['/portfolio', project.slug]" routerLinkActive="router-link-active"
    >
      Read More!
    </a> -->
  </div>
</div>
