<!-- TODO: Display dynamic post grid -->
<div id="blog-posts-container" #blogPostContainer class="row">
  <div class="col col1">
   <div class="card card-coin card-plain my-5">
      <div class="card-header">
        <!-- <img class="img-center img-fluid" src="assets/img/josh-healey2.jpg" /> -->
      </div>
      <div class="card-body p-2 my-3">
        <div class="row">
          <div class="col-md-12 text-center my-3">
            <img class="img-center img-fluid" src="assets/img/josh-healey2.jpg" />
          </div>
          <div class="col-md-12 text-center my-3">
            <h4 class="text-capitalize"> Joshua David Healey </h4>
            <span class="text-warning"> Full-Stack Developer </span>
            <hr class="line-primary" />
          </div>
        </div>
        <div class="row">
          <p class="text-center">

          </p>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-warning btn-simple" [routerLink]="['/portfolio']">See My Portfolio</button>
      </div>
    </div>
  </div>
  <!-- <div class="col col1">
    <div class="card card-coin card-plain">
      <div class="card-header">
        <img class="img-center rounded-circle img-fluid" src="assets/img/square1-red.png" />
      </div>
      <div class="card-body p-2">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="text-capitalize">OAuth2 w/ Auth0: Implementing complete Identity-as-a-Service on any platform</h4>
            <span class="text-warning"> Joshua David Healey </span>
            <hr class="line-primary" />
          </div>
        </div>
        <div class="row">
          <p class="text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quos culpa numquam aliquid
            porro deserunt natus consectetur tenetur assumenda sit consequuntur voluptas iure eius reiciendis
            reprehenderit...
          </p>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-primary btn-simple" [routerLink]="['/blog', 'auth0']">Read More</button>
      </div>
    </div>
  </div>
  <div class="col col2">
    <div class="card card-coin card-plain">
      <div class="card-header">
        <img class="img-center rounded-circle img-fluid" src="assets/img/square-purple-1.png" />
      </div>
      <div class="card-body p-2">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="text-capitalize">My Thoughts on the Moralis Web3 Serverless framework</h4>
            <span class="text-warning"> Joshua David Healey </span>
            <hr class="line-success" />
          </div>
        </div>
        <div class="row">
          <p class="text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quos culpa numquam aliquid
            porro deserunt natus consectetur tenetur assumenda sit consequuntur voluptas iure eius reiciendis
            reprehenderit, facere incidunt adipisci consequatur.
          </p>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-success btn-simple" [routerLink]="['/blog', 'moralis']">Get plan</button>
      </div>
    </div>
  </div>
  <div class="col col3">
    <div class="card card-coin card-plain">
      <div class="card-header">
        <img class="img-center rounded-circle img-fluid" src="assets/img/square1.png" />
      </div>
      <div class="card-body p-2">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="text-capitalize">Django vs. Express.js: When and why you should use them.</h4>
            <span class="text-warning"> Joshua David Healey </span>
            <hr class="line-info" />
          </div>
        </div>
        <div class="row">
          <p class="text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quos culpa numquam aliquid
            porro deserunt natus consectetur tenetur assumenda sit consequuntur voluptas iure eius reiciendis
            reprehenderit, facere incidunt adipisci consequatur.
          </p>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-info btn-simple" [routerLink]="['/blog', 'django']">Get plan</button>
      </div>
    </div>
  </div> -->
</div>
