<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />
    <img class="path" src="assets/img/path4.png" />
    <div class="container">
      <div class="row">
        <div class="profile-name col-sm-5 pt-5">
          <h1 class="profile-title text-left pt-5">Joshua David Healey</h1>
          <h5 class="text-on-back">01</h5>
        </div>
        <div class="profile col-lg-6 col-md-6 pt-5 mb-2 mr-2 center">
          <p class="profile-description">
            I am an experienced full-stack web developer, primarily with experience in a marketing environment.
            I am fluent with Python, Javascript/Typescript, Bash, and HTML/CSS. At BlitzMetrics I created a series
            of AWS Lambda / API Gateway webooks with end-to-end private/public key encryption. I have also built a
            Facebook Marketing API integration which allows users to create custom weather-based triggers before
            automatically allocating configuring geographical targeting settings ad spend amongst various campaign
            phases.
          </p>
          <br />
          <br />
          <p class="profile-description">
            On the frontend, I have built complex angular projects using performant and secure best practices like
            test-driven development, schema-first application design, propper modularization and lazy-loading of
            components, and strongly typed and immutable data using interfaces, type checking, and the use of 'const'
            over var or let. This includes the implementation of simple data services, adherence to the single
            responsibility principle, and complete implementation of theidentification, authentication, and
            authorization pattern using a variety of libraries and services. For example, the implementation of
            OAuth2 with both an Identity-as-a-service provider and a simple JWT library. This includes implementing
            security / auth services, router auth guards on the front and backend, and the strong-typing of every slice
            of application state, especially users and authentication related objects. I have also built and utilized
            custom pipes, directives, and resolvers wherever needed.
          </p>
          <br />
          <br />
          <p class="profile-description">
            To complete my knowledge andunderstanding of these patterns I have also implemented them with Express.js,
            Django, and MongoDB. I am currently in the process of moving beyond basic React projects towards full-scale
            professional Feact development. Stay tuned for <a routerLink="/blog">blog posts</a> about the experiences
            I gain during the journey. I look forward to building production-level cross-platform applications with you
            in the near future.
          </p>
          <div class="btn-wrapper pt-3">
            <button
              class="btn btn-simple btn-primary mr-1"
              routerLink="/portfolio"
            >
              <i class="tim-icons icon-book-bookmark"> </i> View My Portfolio
            </button>
            <button class="btn btn-simple btn-danger ml-1" routerLink="/blog">
              <i class="tim-icons icon-bulb-63"> </i> Read My Blog
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="card profile-card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle profile-picture"
                src="assets/img/josh-healey.jpg"
              />
            </div>
            <div class="card-body profile-card-body">
              <h3 class="title ml-2"><u>Skills</u></h3>
              <ul>
                <li>
                  Solidity
                </li>
                <li>
                  Javascript/Typescript
                </li>
                <li>
                  Python
                </li>
                <li>
                  Rust
                </li>
                <li>
                  HTML
                </li>
                <li>
                  Web Assembly
                </li>
                <li>
                  CSS
                </li>
                <li>
                  SASS
                </li>
                <li>
                  Bash
                </li>
                <li>
                  MongoDB
                </li>
                <li>
                  T-SQL
                </li>
                <li>
                  Express.js
                </li>
                <li>
                  Django
                </li>
                <li>
                  Apollo GraphQL
                </li>
                <li>
                  Serverless API Development
                </li>
                <li>
                  Angular
                </li>
                <li>
                  React
                </li>
                <li>
                  OAuth2.0 w/ JSON Web Tokens
                </li>
                <li>
                  AWS Lambda & API Gateway
                </li>
                <li>
                  AWS EC2
                </li>
                <li>
                  AWS Aurora
                </li>
                <li>
                  Open API Spec v3.0
                </li>
              </ul>
              <app-social-icons class="ml-2" color="warning"></app-social-icons>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <section class="section2">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="row justify-content-between align-items-center">
              <div class="card card-coin card-plain">
                <div class="card-header icon-lg">
                  <img class="img-center rounded-circle img-fluid" src="assets/img/square-purple-1.png" />
                  <i class="fas fa-terminal text-white overlay-icon"></i>
                </div>
                <div class="card-body">
                  <tabset
                    class="nav-tabs-warning justify-content-center tab-subcategories"
                  >
                    <tab heading="Borsetta">
                      <table class="table tablesorter" id="plain-table">
                        <thead class="text-danger">
                          <tr>
                            <th class="header">Title</th>
                            <th class="header">Achievements</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-success">Software Development Intern</td>
                            <td>
                              <ul>
                                <li>Assisted with early stage Board-of-Advisors meeting.</li>
                                <li>Developed prototype Solidity smart contracts</li>
                                <li>Contributed to the Eth Denver 2017 Hackathon Project on behalf of the company.</li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                    <tab heading="BlitzMetrics">
                      <table class="table tablesorter" id="plain-table">
                        <thead class="text-danger">
                          <tr>
                            <th class="header">Title</th>
                            <th class="header">Achievements</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-success">Web Developer & Project Manager</td>
                            <td>
                              <ul>
                                <li>Met with prospective clients and disscussed agency retainers and work-related contracts.</li>
                                <li>Developed a MongoDB, Express.js, Angular, NodeJS (MEAN Stack) data dashboard.</li>
                                <li>Built a Facebook app for a client under a non-disclosure agreement.</li>
                                <li>
                                  Implemented end-to-end webhook encryption using private/public key cryptography and
                                  JSON Web Tokens for a marketing integration.
                                </li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                    <tab heading="Eon Well">
                      <table class="table tablesorter" id="plain-table">
                        <thead class="text-danger">
                          <tr>
                            <th class="header">Title</th>
                            <th class="header">Achievements</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-success">Web Developer & Marketer</td>
                            <td>
                              <ul>
                                <li>Rebuilt entire company site with modern design elements.</li>
                                <li>
                                  Created an email opt-in focused landing page for the Nutrigenetics Conference 2020 which produced 30 new
                                  b2b accounts.
                                </li>
                                <li>
                                  Built a prototype Electron application which uses Angular and the Material Design System to process genetic data
                                  in .csv format.
                                </li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                  </tabset>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-success btn-simple" [routerLink]="['/portfolio']">Check Out My Portfolio</button>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-5">
          <h1 class="profile-title text-left">Work History</h1>
          <h5 class="text-on-back">02</h5>
          <div class="text-wrap text-center" style="width: 20em;">
            Full Stack Engineer with 3.5 years of experience focused on: <br />
            <ul>
              <li>React, React Native, Angular, and Ionic App Flow for frontend development</li>
              <li>Backend development using Node.js, ExpressJS, NestJS, Python, and Flask for RESTful, GraphQL, gRPC, and Websockets APIs</li>
              <li>Experienced with both MongoDB, mySQL, MS SQL Server, postgreSQL and Redis database design including multiple ORM/ODM packages</li>
              <li>Experience working with CRMs, HRMs, ERPs, CMS systems along with eCommerce cart solutions for custom web apps and mobile apps</li>
              <li>Also knowledgeable in data analysis, visualization, and machine learning with Python</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card card-chart card-skills card-plain">
          <div class="card-body">
            <div class="row justify-content-between" style="margin-left: -10em;">
              <div class="col-lg-5">
                <ngx-charts-gauge
                  class="guage-chart"
                  [view]="viewGuage"
                  [scheme]="colorSchemeGuage"
                  [results]="singleGuage"
                  [showAxis]="showAxis"
                  [showText]="showText"
                  [legend]="legendGuage"
                  [legendPosition]="legendPositionGuage"
                  [legendTitle]="legendTitleGuage"
                  [min]="min"
                  [max]="max"
                  (select)="onSelect($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-gauge>
              </div>
              <div class="col-lg-5">
                <div class="row">
                <!-- TODO: troubleshoot chart components in @components/core -->
                <!-- TODO: update advance-pie-chart overflow and aggregation function -->
                  <ngx-charts-advanced-pie-chart
                    class="advanced-pie-chart"
                    [view]="viewPie"
                    [scheme]="colorSchemePie"
                    [results]="singlePie"
                    [animations]="animationsPie"
                    [gradient]="gradientPie"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                  </ngx-charts-advanced-pie-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section3">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-4">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-5"> -->
              <!-- TODO: Author some blog posts. -->
              <!-- TODO: add 1-3 p tags below the h5.text-on-back element. -->
              <!-- <h1 class="profile-title text-left">Featured Blog Posts</h1>
              <h5 class="text-on-back">03</h5>
            </div>
          </div>
        </div>
        <div class="col-md-8 mt-5 pt-5">
            <app-featured-blog-posts></app-featured-blog-posts>
      </div>
      </div>
    </div>
  </section> -->
  <section class="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title">Contact</h1>
              <h5 class="text-on-back">04</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Name </label>
                      <input class="form-control" type="text" value="Alpinous" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Email address </label>
                      <input
                        class="form-control"
                        placeholder="alpine@email.com"
                        type="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Phone </label>
                      <input
                        class="form-control"
                        type="text"
                        value="+1(970)123-4567"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Company </label>
                      <input
                        class="form-control"
                        type="text"
                        value="Alpine Lines"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Message </label>
                      <textarea
                        class="form-control"
                        placeholder="Hello there!"
                        type="text"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="submit"
                >
                  Send text
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-0">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-square-pin"> </i>
            </div>
            <div class="description fs-3">
              <h4 class="info-title">Find us at the office</h4>
              <p>
                Denver, CO 80236 <br />
                United States of America
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-mobile"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Give us a ring</h4>
              <p>
                Josh Healey <br />
                +1(720)339-9400 <br />
                Mon - Fri, 10:00am-5:00pm
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-110"></div>
  </section>
