<div class="btn-wrapper">
  <a
    id="linkedin"
    #linkedin
    class="btn btn-icon btn-white btn-round btn-simple mr-1"
    href="https://www.linkedin.com/in/joshua-healey/"
    placement="bottom"
    tooltip="Connect with me on LinkedIn!"
  >
    <i class="fab fa-linkedin"> </i>
    <p class="d-lg-none d-xl-none">LinkedIn</p>
  </a>
  <a
    id="github"
    #github
    class="btn btn-icon btn-white btn-round btn-simple mr-1"
    href="https://www.github.com/Alpine-lines"
    placement="bottom"
    tooltip="Check out my work on Git Hub!"
  >
    <i class="fab fa-github"> </i>
    <p class="d-lg-none d-xl-none">Git Hub</p>
  </a>
  <a
    id="fb"
    #fb
    class="btn btn-icon btn-white btn-round btn-simple mr-1"
    href="https://www.facebook.com/alpinous"
    placement="bottom"
    tooltip="Connect with me on Facebook."
  >
    <i class="fab fa-facebook-square"> </i>
    <p class="d-lg-none d-xl-none">Facebook</p>
  </a>
</div>
