<div class="row center py-5">
  <div class="col-lg-8">
    <h2 class="title">Tools and Technologies</h2>
    <h5 class="description">
      I work with a wide variety of standard web development tools. Here are some of the more popular ones.
      Checkout the <a routerLink="/about-me">about me</a> page for more info.
    </h5>
  </div>
</div>
<div class="blur-hover">
  <a
    routerLink="/about-me"
    class="text-danger"
  >
    <div class="icons-container blur-item on-screen mt-5">
      <i class="icon fab fa-react"> </i>
      <i class="icon fab fa-angular"> </i>
      <i class="icon fab fa-node"> </i>
      <i class="icon fab fa-js-square"> </i>
      <i class="icon fab fa-python"> </i>
      <i class="icon fab fa-aws"> </i>
      <i class="icon fab fa-bitcoin"></i>
      <i class="icon fab fa-git"> </i>
      <i class="icon fab fa-ethereum"> </i>
      <i class="icon fab fa-linux"> </i>
      <i class="icon fab fa-html5"> </i>
      <i class="icon fab fa-css3-alt"> </i>
      <i class="icon fas fa-terminal"> </i>
    </div>
    <span class="blur-hidden h5 text-danger">
      To learn more about my skills, checkout the <a routerLink="/about-me#skills"><i>about page</i></a>.
    </span>
  </a>
</div>
