<div class="wrapper">
  <div class="page-header" style="height: 125vh">
    <img class="path" src="assets/img/blob.png" />
    <img class="path2 opacity-1" src="assets/img/path2.png" />
    <img class="shapes triangle" src="assets/img/triunghiuri.png" />
    <img class="shapes wave" src="assets/img/waves.png" />
    <img class="shapes squares mr-auto" src="assets/img/patrat.png" />
    <img class="shapes circle m-4" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-5 col-md-5">
          <img
            alt="Joshua David Healey Profile Picture"
            class="img-fluid border-danger rounded shadow-dark"
            style="height: max-content"
            src="assets/img/josh.jpg"
          />
        </div>
        <div class="col-lg-7 col-md-7">
          <h1 class="text-white">
            Building blockchain solutions is my passion.
          </h1>
          <p class="text-white mb-3">
            We all have an idea itching to get out. An innovative solution to a real-world business problem.
            I specialize in crafting blockchain solutions tailored to your bussiness.
          </p>
          <div class="btn-wrapper mb-3">
            <a
              class="btn btn-success btn-link btn-sm"
              routerLink="/contact-me)"
            >
              <span class="category text-success d-inline" style="margin-left: -1.25em">Schedule a free consultation now!</span>
              <i class="tim-icons icon-minimal-right"> </i>
            </a>
          </div>
          <div class="btn-wrapper">
            <app-social-icons color="warning"></app-social-icons>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="portfolio-intro" class="section-lg section-safe m-5 p-3" #portfolioIntro>
    <img class="path" src="assets/img/path5.png" />
  </section>
  <section id="info" class="section-lg text-center">
    <div class="col-md-12 pb-5">
      <div class="row">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="icon-list-header">
                <h1 class="text-center">Tested, Secure, Reliable.</h1>
                <h4 class="text-center info-subtitle">Delivering proven and reliable results, quickly.</h4>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-3 justify-content-center">
                  <div class="info">
                    <div class="icon icon-warning">
                      <i class="fas fa-file-medical-alt"></i>
                    </div>
                    <h4 class="info-title">Tested</h4>
                    <hr class="line-warning" />
                    <p class="closing-text">
                      I rely on test-driven development to ensure the validity of the code I write. Whether you
                      require a simple RESTful API or a complex full-stack application, rest assured that with
                      proper testing and continuous integration in place, your application will be running smooth
                      well into the future.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 justify-content-center">
                  <div class="info">
                    <div class="icon icon-success">
                      <i class="fas fa-user-shield"></i>
                    </div>
                    <h4 class="info-title">Secure</h4>
                    <hr class="line-success" />
                    <p class="closing-text">
                      I utilize standard security best practices for application identification, authentication,
                      and authorization including; private/public key cryptography, JSON web tokens, and OAuth2.
                      Have a specific Identity-as-a-Service provider in mind? No problem we can work with any of
                      the many options available.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 justify-content-center">
                  <div class="info">
                    <div class="icon icon-primary">
                      <i class="fas fa-chart-line"></i>
                    </div>
                    <h4 class="info-title">Reliable</h4>
                    <hr class="line-primary" />
                    <p class="closing-text">
                      With your business in mind, I will use the right tool for your job. By getting to know
                      your problem in-depth, all schemas will encapsulate the entirety of the solutions requirements.
                      This means the entire application will be well-organized, easy to maintain, and performant.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="projects" class="section-lg m-5 p-3" #projects>
    <img class="path" src="assets/img/path4.png" />
    <div class="container">
      <h2 class="text-center mb-3">Project Portfolio</h2>
      <!-- <h5 class="text-center  mb-3">Joshua David Healey | Full-Stack Developer</h5> -->
      <div class="col center">
        <!-- <a
          class="btn btn-danger btn-round mt-2 mb-5"
          routerLink="/portfolio/archive"
        >
          Show archives <i class="tim-icons icon-minimal-right text-info"> </i>
        </a> -->
      </div>
      <app-featured-projects></app-featured-projects>
    </div>
  </section>
  <section id="portfolio-content" class="section" #portfolioContent>
      <div class="container raised-stats-card-grid">
        <div class="row justify-content-center text-center">
          <!-- <div class="col-md-5 mt-lg-5">
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-trophy text-warning"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,237</p>
                          <p></p>
                          <p class="card-category">Awards</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats upper bg-default">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-coins text-white"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,653</p>
                          <p></p>
                          <p class="card-category">Commits</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-gift-2 text-info"> </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">593</p>
                          <p></p>
                          <p class="card-category">Presents</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <i class="tim-icons icon-credit-card text-success">
                          </i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">10,783</p>
                          <p></p>
                          <p class="card-category">Forks</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <div class="col">
          <h3 class="contact text-center">Contact Me</h3>
          <h4 class="text-center">Complex Project? Need to speak with a project manager?</h4>
          <div class="row center">
            <div class="col-md-6 mb-5 consult-button-container">
              <a
                class="btn btn-danger btn-round btn-md m-2 center consult-button"
                href="https://calendly.com/joshua-healey/initial-consultation"
                target="_blank"
              >
                Schedule a Free Consultation
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
