// .skills-chart-card-simple {
//   height: 18em;
//   border-radius: 16px;
//   padding: 1rem 1rem !important;
// }

// .skills-guage-card-simple {
//   height: 18em;
//   border-radius: 16px;
//   padding: 1rem 1rem !important;
// }

.icon-list-header {
  margin-bottom: -8em;
}

.icon-list-header {
  margin-bottom: -8em;
}

.closing-text {
  font-size: 1.25rem !important;
}

.info-subtitle {
  margin-top: -5px;
}

#projects {
  margin-top: -7.5em;
}

.contact {
  font-size: 36px;
  margin-bottom: 7.5px;
}

.consult-button {
  width: 20em;
}

.consult-button-container {
  display: flex;
  align-content: center;
  justify-content: center;
}
