// .skills-chart-card-simple {
//   height: 18em;
//   border-radius: 16px;
//   padding: 1rem 1rem !important;
// }

// .skills-guage-card-simple {
//   height: 18em;
//   border-radius: 16px;
//   padding: 1rem 1rem !important;
// }

.icon-list-header {
  margin-bottom: -8em;
}

.icon-list-header {
  margin-bottom: -8em;
}

.closing-text {
  font-size: 1.25rem !important;
}

#projects {
  margin-top: -7.5em;
}
