<footer class="footer center">
  <div class="container">
    <div class="col-lg-12">
      <div class="row center mb-0">
        <div class="row footer-links">
          <a class="footer-link" routerLink="/about-me"> About Me |&nbsp; </a>
          <a class="footer-link" routerLink="/portfolio"> Portfolio |&nbsp; </a>
          <a class="footer-link" routerLink="/contact-me"> Contact Me  </a>
        </div>
      </div>
      <div class="row center mt-n3">
          <span class="footer-title">
            <h3><a class="text-white" routerLink="/"><b>Alpine Lines</b> by Joshua David Healey</a></h3>
          </span>
      </div>
      <div class="row center mt-0">
        <app-social-icons color="primary"></app-social-icons>
      </div>
    </div>
  </div>
</footer>
