<div class="wrapper">
  <div class="page-header">
    <div class="content">
      <div class="container">
          <div class="col-12">
            <div class="row center mb-1">
              <div class="col-md-6">
                <h4 class="m-1 center">Title</h4>
                <!-- <a
                  class="btn btn-success btn-round btn-lg m-2 center"
                  href="https://calendly.com/joshua-healey/initial-consultation"
                  target="_blank"
                >
                  CTA
                </a> -->
              </div>
            </div>
            <div class="card card-register mb-5">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />
                <h4 class="card-title">Alpine Lines</h4>
              </div>
              <div class="card-body">
               <p id="post-content" aria-label="post-content" class="text-white text-center">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, ipsa iure impedit
                  quia rem placeat. Quae, illo neque! Et rerum obcaecati, aut illo dolorum alias doloribus
                  recusandae optio harum libero.

                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quibusdam distinctio illo.
                  Nobis ullam praesentium quidem aperiam dolorum, tempore voluptatibus necessitatibus beatae
                  nam molestiae est laudantium at qui impedit doloribus?

                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquam sint minus voluptatem,
                  vitae officiis, esse hic nihil deleniti adipisci et deserunt accusantium incidunt sunt nisi!
                  Possimus culpa doloribus nihil?
               </p>
              </div>
              <div class="card-footer">
                <a
                  class="btn btn-success btn-round btn-lg ma-2 center"
                  routeLink="/blog"
                >
                  More Posts...
                </a>
              </div>
            </div>

        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
        <div class="square square-7" id="square7"></div>
        <div class="square square-8" id="square8"></div>
      </div>
    </div>
  </div>
</div>
